
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    <h1>Welcome, {{ name }}! </h1>
    <br> </br>
    <table>
        <tr>
            <th>Title</th>
            <th>Description</th>
        </tr>
        {% for recipe in recipes %}
        <tr>
            <td>{{ recipe.title }}</td>
            <td>{{ recipe.description }}</td>
        </tr>
        {% endfor %}
    </table>
    <nav>
        <ul>
           <li> <a href="{{ url_for('show_recipes') }}">Recipes</a> </li>
           <li> <a href="{{ url_for('new_recipe') }}">Add New Recipe</a> </li>
           <li> <a href="{{ url_for('logout') }}">Press here to logout</a> </li>
        </ul>
    </nav>

</body>

</html>

