
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
</head>
<body>
    <h1>All Recipes</h1>
    <table>
        <tr>
            <th>Title</th>
            <th>Description</th>
        </tr>
        {% for recipe in recipes %}
        <tr>
            <td>{{ recipe.title }}</td>
            <td>{{ recipe.description }}</td>
        </tr>
        {% endfor %}
    </table>
    <nav>
        <ul>
            <li><a href="{{ url_for('new_recipe') }}">Add New Recipe</a></li>
            <li><a href="{{ url_for('logout') }}">Press Here for Logout</a></li>
        </ul>
    </nav>

</body>
</html>

